
html, body {
    background-color: #8F9E8B;
    background-image: url("/img/bark_bg.png")
}

body {
    padding-top: 40px;
}

blockquote p {
    font-size: 14px;
    line-height: 18px;
}

.centered {
    text-align: center;
}

.navbar {

}

.navbar h3 a.brand {
    font-family: 'Radley', serif;
}

h6 {
    color: #292929;
}

.page-header {
    padding-left: 10px;
    margin: 0;
}

.page-header h1 {
    color: #292929;
}

.container-fluid {
    padding: 0;
}

.content {
    background-color: #fff;
}

.main-content {
    padding: 0 20px;
    min-height: 200px;
}

.pad-left {
    padding-left: 20px;
}

.pad-right {
    padding-right: 20px;
}

footer {
    margin-top: 0;
    padding: 20px 0 60px 20px;
}

footer,
footer a,
footer a:hover {
    background-color: #5B7876;
    color: #292929;
}


.theme-default #slider {
    margin: 0 auto 0 20px;
    width:940px;
    height: 359px;
}