<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{page.description}}"/>
    {% endif %}
    <meta name="author" content="Shane Witbeck"/>
    <meta name="robots" content="all"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
{{ content }}

	<!-- JavaScript plugins (requires jQuery) -->
	<script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
